
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 80px;
    border-bottom: 1px solid #af6434;
    background-color: #af6434;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding-top: 100px;
    position: relative; 
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-button img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    object-fit: cover;
}

.image-button:hover img {
    transform: scale(1.05);
}

.image-button p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

@media (max-width: 768px) {
    .button-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image-button img {
        max-width: 100%;
        height: auto;
    }
}

.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
