*{
	padding: 0;
	margin: 0;
}

.izquierda{
	width: 30%;
   height: auto;
   text-align: center;
}

.centro{ 
	width: 60%;
   height: auto;
   background-color: white;
}

main{
   display: flex;
}

.login{ 
	display: flex;
	border: 5px #164221;
	width: 60%;
	height: 500px;
	background-color: darkgreen;
	color: white;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	padding: 10px;
}

.boton-atras{ 
	position: absolute;
	right: 0;
	margin-top: 17px;
	width: 50px;
	height: 50px;

}

.log{ 
	display: flex;
}

.titulo{ 
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;

}

form{ 
	display: block;
	box-sizing: border-box;
	padding: 40px;
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(40%);
	flex-direction: column;
	display: flex;
	gap: 5px;
	border: 10px #164221;
	background-color: whitesmoke;
}

h2{ 
	font-weight: normal;
	font-size: 50px;
	margin-bottom: 60px;
	color: black;
	font-family: times new roman;
}

label{ 
	color: black;
	text-transform: uppercase;
	padding-left: 10px;
	font-size: 13px;
}

input{ 
	background-color: black;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
	padding: 0px 20px;
	border: none;
	margin-bottom: 20px;
	color: white;

}

button{ 
	background-color: darkgreen;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	border: 2px #434B32;
	margin: 20px 20px;
	color: white;
	font-size: 20px;
}

body{
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
   height: 100%; 
   margin: auto;
   font-family: 'Arial', sans-serif;
}

.titulin{ 
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	display: flex;
	height: 80px;
	border: 1px #af6434;
	background-color: #af6434;
}

